body {
	zoom: 1.75;
	background-color: #212121;
	color: #FF6EC7;
}
.workoutList {
	width: 400px;
}
.flex-grid {
	display: flex;
}
.col {
	flex: 1;
}
.length {
	text-align: right;
}
li {
	border: solid 1px;
}
button {
	background-color: #39FF14;
	border: 1px black;
}
button.startBtn{
	font-size: 32px;
	margin-right: 10px;
}
input,select {
	background-color: #39FF14;
}
li {
	list-style: none;
}
.active {
	background-color: #39FF14;
	color: #000;
	list-style: none;
}
.done {
	background-color: #000;
}
.intervalActive {
	background-color: #003300;
}
h1 {
	margin-top: 0px;
	padding-top: 0px;
	display: inline;
}
#weekday {
	display: block;
}
.dateDisplay {
	text-align: center;
}
.btn {
	text-align: right;
	flex-shrink: 1;
	flex-grow: 0;
	padding-left: 10px;
}
.add {
	color: darkgreen;
	background-color: lightgreen;
}
.del {
	color: darkred;
	background-color: lightpink;
}
.addLength {
	width: 6em;
}
