<html>
	<head>
		<title>Workout Timer</title>
		<script src="timer.js" type="module"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<ol class="workoutList" v-if="!isLoading">
				<li v-for="set in workoutData" :class="set.active">
					<div class="flex-grid" v-if="set.type != 'interval'">
						<div class="col">{{set.type}}</div>
						<div class="col length">
							{{ new Date(set.length * 1000).toISOString().slice(11, 19) }}
						</div>
					</div>
					<div class="flex-grid" v-if="set.type === 'interval'">
						<div class="col">Repeat</div>
						<div class="col length">{{ set.repeat }} time<span v-if="set.repeat != 1">s</span></div>
					</div>
					<ol v-if="set.type == 'interval'">
						<li v-for="intervalSet in set.routine" :class="intervalSet.active">
							<div class="flex-grid">
								<div class="col">{{intervalSet.type}}</div>
								<div class="col length">
									{{ new Date(intervalSet.length * 1000).toISOString().slice(11, 19) }}
								</div>
							</div>
						</li>
					</ol>
				</li>
			</ol>
			<div class="flex-grid">
				<div class="col">
					<button v-if="startEnabled" @click="start" 
						:disabled="!startEnabled" class="startBtn">Start!</button>
					<h1>{{ statusMessage }}</h2>
				</div>
			</div>
		</div>
	</body>
</html>
