<html>
	<head>
		<title>Workout Timer</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
body {
	zoom: 1.75;
}
.workoutList {
	width: 400px;
}
.flex-grid {
	display: flex;
}
.col {
	flex: 1;
}
.length {
	text-align: right;
}
li {
	border: solid 1px;
}
button {
	font-size: 32px;
}
.active {
	background-color: lightgreen;
}
.done {
	background: #ccc;
}
.intervalActive {
	background-color: lightyellow;
}
h1 {
	font-size: 4em;
	margin-top: 0px;
	padding-top: 0px;
}
</style>
	</head>
	<body>
	
	<script type="module">
		const { createApp, ref } = Vue
		createApp({
			setup() {

				const workout_data = ref(null)
				const workout = ref(null)
				const current_state = ref('Hello World!')
				const fetch_workout_data = async() => {
					try{
						const response = await fetch("/workout")
						workout_data.value = await response.json()
						workout.value = JSON.parse(workout_data.value.Data)
						
					}catch(error){
						console.error("Failed to fetch workout data",error)
					}
				}
				fetch_workout_data()
				console.log(workout)


				const sleep = (t) => new Promise((r) => setTimeout(r,t))
				const start = async () => {
					for(let step of workout.value) {
						if(step.type != "interval") {
							step.active = "active"
							current_state.value = step.type + '    ' + formatTime(step.length)
							while(step.length > 0){
								await sleep(1000)
								step.length--
								let time_text = formatTime(step.length)
								current_state.value = step.type + '     ' + time_text
							}
						}
						else
						{
							const interval = step.steps;
							step.active = "intervalActive"
							for(let x=0; x<step.repeat.times; step.repeat.times--)
							{
								for(let i of step.steps) {
									i.active = "active"
									const reset = i.length
									current_state.value = i.type + '     ' + formatTime(i.length)
									while(i.length > 0){
										await sleep(1000)
										i.length--
										let time_text = formatTime(i.length)
										current_state.value = i.type + '     ' + time_text
									}
									i.active = "done"
									i.length = reset
								}
							}
						}
						step.active = "done"
					}
				}

				function formatTime(seconds){
					return new Date(seconds * 1000).toISOString().slice(11, 19)
				}
					
				return {
					workout, start, current_state
				}
			}
		}).mount('#app')
	</script>

	<div id="app">
	<ol class="workoutList">
		<li v-for="step in workout" :class="step.active">
			<div class="flex-grid" v-if="step.type != 'interval'">
				<div class="col">{{ step.type }}</div>
				<div class="col length">
					{{ new Date(step.length * 1000).toISOString().slice(11, 19) }}
				</div>
			</div>
			<div class="flex-grid" v-if="step.type == 'interval'">
				<div class="col">Repeat</div>
				<div class="col length">{{ step.repeat.times }} time<span v-if="step.repeat.times != 1">s</span></div>
			</div>
			<ol v-if="step.type == 'interval'">
				<li v-for="intervalStep in step.steps" :class="intervalStep.active">
					<div class="flex-grid">
						<div class="col">{{ intervalStep.type }}</div>
						<div class="col length">
							{{ new Date(intervalStep.length * 1000).toISOString().slice(11, 19) }}
						</div>
				</li>
			</ol>
		</li>
	</ol>
	<h1>{{ current_state }}</h1>
	<div class="flex-grid">
		<div class="col"><button @click="start">Start!</button></div>
		<div class="col"><button>Reset</button></div>
	</div>
	</div>
	</body>
</html>

